################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/the-forge-template/v16
/project/x64/Debug
/the-forge-lib/x64/Debug
/x64/Debug
/project/x64/Release
/the-forge-lib/x64/Release
/x64/Release
/.vs
